.main {
  margin: 0 auto;
  width: calc(265px + 265px + 265px + 40px + 22px);
  padding: 48px 24px;
  max-width: 100%;
  border: 3px dashed black;
}

.info {
  display: flex;
  border: 2px dashed blue;
<<<<<<< HEAD
<<<<<<< HEAD
  max-height: 420px;
  position: relative;
=======
<<<<<<<< HEAD:style/index.css
  max-height: 420px;
  position: relative;
========
  letter-spacing: -0.36em;
}

.info > * {
  width: calc(50% - 29px);
  min-height: 420px;
>>>>>>>> 355df50 ([GS-2]Create item preview of top section):styles/index.css
>>>>>>> 355df50 ([GS-2]Create item preview of top section)
=======
  max-height: 420px;
  position: relative;
>>>>>>> dd4956f (.)
}

.interaction {
  border: 1px solid red;
  margin-left: 56px;
  display: inline-block;
  width: calc(50% - 31px);
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.list {
  border: 2px dashed tomato;
  margin-top: 74px;
}

<<<<<<<< HEAD:styles/index.css
.title {
  font-weight: bold;
  font-size: 22px;
<<<<<<< HEAD
}

.list-item {
  display: inline-block;
  position: relative;
  width: 31.24%;
========
.list > .title {
  letter-spacing: 0;
  padding-bottom: 7px;
  font-size: xx-large 22px;
}

.list > div > span {
<<<<<<< HEAD
  width: 31.535%;
>>>>>>>> df996f1 ([GS-2]Create item preview of top section):style/index.css
=======
<<<<<<<< HEAD:style/index.css
  width: 31.535%;
>>>>>>>> df996f1 ([GS-2]Create item preview of top section):style/index.css
========
  width: 31.56%;
>>>>>>>> 355df50 ([GS-2]Create item preview of top section):styles/index.css
>>>>>>> 355df50 ([GS-2]Create item preview of top section)
=======
}

.list-item {
  display: inline-block;
  width: 31.24%;
>>>>>>> dd4956f (.)
  border: 1px solid rgb(88, 167, 122);
  height: 265px;
}

.marginLeft {
  margin-left: 20px;
}

.marginBottom {
  margin-bottom: 50px;
}
