.main {
  margin: 0 auto;
  width: calc(265px + 265px + 265px + 40px + 22px);
  padding: 48px 24px;
  max-width: 100%;
  border: 3px dashed black;
}

.info {
  border: 2px dashed blue;
  max-height: 420px;
  position: relative;
}

.interaction {
  border: 1px solid red;
  margin-left: 56px;
  display: inline-block;
  width: calc(50% - 31px);
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.list {
  border: 2px dashed tomato;
  margin-top: 74px;
}

.title {
  font-weight: bold;
  font-size: 22px;
}

.list-item {
  display: inline-block;
  width: 31.24%;
  border: 1px solid rgb(88, 167, 122);
  height: 265px;
}

.marginLeft {
  margin-left: 20px;
}

.marginBottom {
  margin-bottom: 50px;
}
